span {
    color: #f36b7d;
  }
  .surah {
    position: relative;
    padding: 100px;
  
    min-height: 100vh;
    color: #fff;
  }
  .row {
    display: flex;
  }
  .column {
    float: left;
    width: 50%;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .left {
    width: 45%;
    font-size: 24px;
  }
  
  .right {
    width: 55%;
    font-size: 38px;
    font-weight: bold;
    display: flex;
    justify-content: right;
    justify-items: right;
    padding-left: 44px;
  }
  li {
    margin: 0 0 6px 0;
  }
  
  .btn {
    outline: none !important;
    width: 28%;
  }
  .btn.btn-primary {
    background-color: #9abbe6;
    border-color: #5a6f8a;
    outline: none;
    cursor: pointer;
    
  }
  .btn:active {
    background-color: #f36b7d;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  .btn.btn-primary:hover {
    background-color: darken(#5c4084, 10%);
    border-color: darken(#5c4084, 10%);
  }
  .btn.btn-primary:active,
  .btn.btn-primary:focus {
    background-color: lighten(rgba(245, 185, 242, 0.288), 5%);
    border-color : lighten(rgba(245, 185, 242, 0.288), 5%);
  }
  .btn.btn-primary .fa {
    padding-right: 4px;
  }
  
  .btn-sm {
    font-size: 22px;
    padding: 2px 1px 2px 4px;
    line-height: 12px;
    margin-right: 10px;
  }
  .form-group {
    margin-bottom: 25px;
  }
  h3 {
    color: #fff;
  }
  img {
    height: 40px;
    width : 40px;
    border-radius: 100%;
}
  